@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #121212;
  --foreground: #fbfbfb;
  --text-color: #FA6E00;
  --services: #bababa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text-color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #fbfbfb;
    --text-color: #FA6E00;
    --services: #bababa;
  }
}

@media (prefers-reduced-motion: reduce) {
  motion.nav {
    transition: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}